<div class="footer">
  <div class="footer-div intro">
    <div ><img class="img" src="https://github.com/Hissee/Ujyalo-Khet/blob/main/src/assets/Ujyalo.png?raw=true" alt=""></div>
    <div class="detail">
        <ul>
            <li>Ujyalo Khet Pvt LTd.</li>
            <li>Kathmandu, Nepal</li>
        </ul>
    </div>
  </div>

  <div class="know-us footer-div">
    <span>Get to know us</span>
    <ul>
      <li routerLink="/about">About Us</li>
      <li routerLink="/signup/Khetalo">Become Khetalo</li>
    </ul>
  </div>

  <div class="contact-us footer-div">
    <span>Contact Us</span>
    <div class="socilMediaLink">
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <div class="contact">
      <ul>
        <li>9761652699</li>
        <li>
          <a href="mailto:maharjanhissee@gmail.com"
            >maharjanhissee&#64;gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
