.carousel-container {
  position: relative;
  width: 95%;
  max-width: 100vw;
  margin: auto;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
