<div class="container">
    <div class="card">
        <div class="signup-container">
        <div class="signup">
            <p>Order the Fresh Goods now</p>
            <button class="btn btn-primary px-4"><a href="../signup-consumer">Signup as Consumer</a></button></div>
        <div class="vr-line"></div>
        <div class="signup">
            <p>Sell your crops online </p>
            <button class="btn btn-primary px-4" ><a href="../signup-farmer">Signup as Farmer</a></button></div>
    </div>
    <div>
        Already has an account?
        <a href="../../login" class="login">Login</a>
    </div>
    </div>
</div>
