<div class="signup-container max-w-md mx-auto my-10 p-6 bg-white rounded-xl shadow-lg">
  <h2 class="text-3xl font-extrabold text-gray-900 mb-6 text-center">Signup (Consumer)</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" #signupForm="ngForm" class="space-y-4">

    <div class="form-group">
      <label for="firstName" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>First Name:  </label>
      <input id="firstName" type="text" formControlName="firstName" name="firstName" required
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:accent-green-500 focus:accent-green-600 sm:text-sm">
    </div>

    <div class="form-group">
      <label for="middleName" class="block text-sm font-medium text-gray-700">Middle Name:</label>
      <input id="middleName" type="text" formControlName="middleName" name="middleName"
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:accent-green-500 focus:accent-green-600 sm:text-sm">
    </div>

    <div class="form-group">
      <label for="lastName" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>Last Name:</label>
      <input id="lastName" type="text" formControlName="lastName" name="lastName" required
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:accent-green-500 focus:accent-green-600 sm:text-sm">
    </div>

    <div class="form-group">
      <label for="email" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>Email:</label>
      <input id="email" type="email" formControlName="email" name="email" required
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:accent-green-500 focus:accent-green-600 sm:text-sm">
    </div>

    <div class="form-group">
      <label for="phone" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>Phone:</label>
      <input id="phone" type="text" formControlName="phone" name="phone" required
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:accent-green-500 focus:accent-green-600 sm:text-sm">
    </div>

    <div class="form-group">
      <label for="province" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>Province:</label>
      <select class="form-select" id="province" formControlName="province" required>
        <option value="">Select Province</option>
        @for (province of provinces;track province) {
          <option value="{{ province }}">{{ province }}</option>
        }
      </select></div>

    <div class="form-group">
      <label for="city" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>City:</label>
      <input id="city" type="text" formControlName="city" name="city" required
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:accent-green-500 focus:accent-green-600 sm:text-sm">
    </div>

    <div class="form-group">
      <label for="street" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>Street:</label>
      <input id="street" type="text" formControlName="street" name="street" required
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:accent-green-500 focus:accent-green-600 sm:text-sm">
    </div>

    <div class="form-group">
      <label for="password" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>Password:</label>
      <input id="password" type="password" formControlName="password" name="password" required
             class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none  sm:text-sm">
    </div>

    <div class="form-group">
    <label for="password" class="block text-sm font-medium text-gray-700"><span style="color: red">* </span>Confirm Password:</label>
    <input id="password" type="password" formControlName="confirmPassword" name="password" required
           class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none  sm:text-sm">
    </div>

    <div>
      <button type="submit" [disabled]="signupForm.invalid"
              class="w-full flex justify-center py-2 px-4 mt-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white primary-btn  disabled:opacity-50 disabled:cursor-not-allowed">
        Sign Up
      </button>
    </div>
  </form>

  @if (successMessage) {
    <p class="success mt-4 text-center text-sm font-medium text-green-600">{{ successMessage }}</p>
  }
  @if (errorMessage) {
    <p class="error mt-4 text-center text-sm font-medium text-red-600">{{ errorMessage }}</p>
  }
</div>
