@import "tailwindcss";
*{
    margin: 0;
}

:root{
  --primary-color: #04BC64;
  --secondary-color: #EAFAF4;
  --card-color: #eafaf4;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
